/* navarasu/onedark.nvim deep based */
@define-color rosewater #f65866; 
@define-color flamingo #dd9046;  
@define-color pink #c75ae8;      
@define-color mauve #862aa1;     
@define-color red #f65866;       
@define-color maroon #992525;    
@define-color peach #dd9046;     
@define-color yellow #efbd5d;    
@define-color green #8bcd5b;     
@define-color teal #34bfd0;      
@define-color sky #41a7fc;       
@define-color sapphire #41a7fc;  
@define-color blue #41a7fc;      
@define-color lavender #93a4c3;  
@define-color text #ffffff;      
@define-color subtext1 #6c7d9c;  
@define-color subtext0 #455574;  
@define-color overlay2 #2a324a; 
@define-color overlay1 #283347;  
@define-color overlay0 #21283b;  
@define-color surface2 #1a212e;  
@define-color surface1 #141b24;  
@define-color surface0 #0c0e15;  
@define-color base #0c0e15;      
@define-color mantle #1b6a73;    
@define-color crust #27341c;     

* {
    font-family: "JetBrainsMono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0); 
    border-radius: 13px;
    transition-property: background-color;
    transition-duration: .5s;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -3px @text;
}

#pulseaudio:hover {
    background-color: @surface2;
    border-radius: 13px;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @text;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}
#workspaces button.active {
    color: rgba(0, 0, 0, 1);
    background-color: @text;
    margin: 3px 0;
    border-radius: 15px;
}

#workspaces button.focused {
    background-color: @lavender;
    box-shadow: inset 0 -3px @text;
}

#workspaces button.urgent {
    background-color: @red;
}

#mode {
    background-color: @overlay1;
    box-shadow: inset 0 -3px @text;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio
{
    padding: 0 5px;
}

#pulseaudio {
    color: @maroon;
}
#pulseaudio.input {
    color: @green;
}

#network {
    color: @yellow;
}

#memory {
    color: @red;
}

#cpu,
#temperature {
    color: @sky;
}

#language,
#battery {
    color: @green;
}

#clock {
    color: @sky;
}

#window {
    color: @rosewater;
}

.modules-right, .modules-left, .modules-center {
    background-color: @base;
    border-radius: 15px;
}
.modules-right {
    padding: 0 5px;
}

.modules-left {
    padding: 0 0 0 5px;
}

.modules-center {
    padding: 0 10px;
}

#battery.charging, #battery.plugged {
    color: @sapphire;
}

@keyframes blink {
    to {
        color: @crust;
    }
}

#battery.critical:not(.charging) {
    background-color: @red;
    color: @text;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: @crust;
}

#custom-mediaplayer {
    border-radius: 13px;
    padding: 0 10px;
    margin: 0 4px;
    background-color: @blue;
    color: @text;
}

#custom-mediaplayer.custom-spotify {
    background-color: #1DB954;
}

#custom-mediaplayer.custom-firefox {
    background-color: #FF7F32;
}

#language {
    padding: 0 10px;
}
#tray {
    padding: 0 10px 0 0;
}

#custom-power {
    color: @red;
}

#custom-notification {
    padding-right: 10px;
}

